*.exe
*.pdb
IB_TWS/bin/Debug/IB_TWS.exe.config
IB_TWS/bin/Debug/IB_TWS.vshost.exe.config
IB_TWS/bin/Debug/IB_TWS.vshost.exe.manifest
IB_TWS/bin/Debug/IB_TWS.xml
*.cache
IB_TWS/obj/Debug/IB_TWS.vbproj.FileListAbsolute.txt
IB_TWS/obj/Debug/IB_TWS.dlgMain.resources
IB_TWS/obj/Debug/IB_TWS.dlgExtTickerAttr.resources
IB_TWS/obj/Debug/IB_TWS.dlgExtOrderAttr.resources
IB_TWS/obj/Debug/IB_TWS.Resources.resources
IB_TWS/IB_TWS.vbproj.user
IB_TWS/obj/Debug/IB_TWS.xml
IB_TWS/obj/Debug/TempPE/My Project.Resources.Designer.vb.dll
IB_TWS.v11.suo
IB_TWS.sln
IB_TWS/obj/Debug/
IB_TWS/obj/Release/TempPE/
IB_TWS/obj/Release/IB_TWS.vbproj.FileListAbsolute.txt
IB_TWS/obj/Release/IB_TWS.dlgNewOrder.resources
IB_TWS/obj/Release/IB_TWS.dlgMain.resources
IB_TWS/obj/Release/IB_TWS.Resources.resources
IB_TWS/obj/Release/IB_TWS.dlgExtOrderAttr.resources
IB_TWS/obj/Release/IB_TWS.dlgExtTickerAttr.resources
IB_TWS/obj/Release/IB_TWS.xml
IB_TWS/bin/Release/IB_TWS.xml
IB_TWS/bin/Release/IB_TWS.exe.config
IB_TWS/bin/Release/CSharpAPI.dll
*.bak
# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
packages/
IB_TWS/bin/Release/IB_TWS.vshost.exe.config
IB_TWS/bin/Release/IB_TWS.vshost.exe.manifest
IB_TWS/obj/Release/build.force
*.exe.config
IB_TWS/bin/Debug/UI for Interactive Brokers gateway via API.xml
